@model _878876.ViewModels.PostCommentsViewModel
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Details";
}

<h1>View Post:</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Post.Title)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Author)
        </dd>
        <dt class="col-sm-2">
            Post Date:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.PostDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Content)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Comments:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Comment item in Model.Comments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    Posted by: @Html.DisplayFor(modelItem => item.Author) - @Html.DisplayFor(modelItem => item.CommentDate)
                </td>
            </tr>
        }
    </tbody>
</table>

<h4>Add New Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PostID" value="@Model.Post.Id" />
            <div class="form-group">
                <input asp-for="Author" class="form-control" value="@UserManager.GetUserName(User)" hidden />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">Enter your comment here: </label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if ((await AuthorizationService.AuthorizeAsync(User, "canEdit")).Succeeded)
    {
        <a asp-action="Edit" asp-route-id="@Model.Post.Id">Edit</a>
    }
    <a asp-action="Index">Back to Posts</a>
</div>
