@model IEnumerable<_878876.Models.Post>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Index";
}


@if ((await AuthorizationService.AuthorizeAsync(User, "canEdit")).Succeeded)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                All Posts:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Title)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    Posted by: @Html.DisplayFor(modelItem => item.Author) - @Html.DisplayFor(modelItem => item.PostDate)
                </td>
                <td>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "canEdit")).Succeeded)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }

                    <a asp-action="Details" asp-route-id="@item.Id">View</a> 

                </td>
            </tr>
        }
    </tbody>
</table>
